$primary: #393e46;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

:root {
  --l-black: #3c3f42;
  --my-green: #198754;
  --my-red: #dc3545;
  --primary-medium: #a6c8e6;
  --primary-light: #e8f1f9;
}

// ===========================GENERAL===========================

body {
  background-color: rgba(var(--bs-light-rgb));
}

.my-body {
  min-height: calc(100vh - 132px);
}

a {
  cursor: pointer !important;
  text-decoration: none;
}

b {
  font-weight: 500;
}

* {
  word-break: break-word;
}

.inner-cont {
  max-width: 700px;
}

// ===========================BUTTONS===========================

.btn-link {
  text-decoration: none;
}

// ===========================NAV-LINK===========================

.nav-link {
  position: relative;

  &::after {
    content: '';
    background-color: var(--bs-primary);
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.15s ease;
  }

  &:hover::after {
    width: 1rem;
  }

  &.active::after {
    width: 100%;
  }
}

// ===========================PAGINATION===========================

.pag-btn {
  opacity: 0.7;
  border: none;

  i {
    font-size: 1rem;
  }

  &:hover {
    opacity: 1;
  }

  &:disabled {
    opacity: 0.3;
  }
}

// ===========================FORM===========================

input,
select,
textarea {
  box-shadow: none !important;
  font-size: 0.93rem !important;

  &:focus:not(.warning, .success) {
    border-color: #2b30359c !important;
  }
}

textarea {
  margin-top: 15px;
}

// ===========================MODAL===========================

.warning {
  border-color: var(--my-red);

  &:focus {
    border-color: var(--my-red);
  }
}

.success {
  border-color: var(--my-green);

  &:focus {
    border-color: var(--my-green);
  }
}

.text-success {
  color: var(--my-green) !important;
}

.modal-dialog {
  max-width: 400px;
  margin: 0 auto;
}

.modal-header {
  border: none;
  justify-content: center;
}

.modal-body {
  padding: 20px;
  text-align: left;

  input {
    margin-top: 15px;

    &:first-of-type {
      margin-top: 10px;
    }
  }

  .btn-wrp {
    width: 100%;
    margin: 20px 0;

    button {
      width: 100%;
    }
  }
}

.modal-footer {
  justify-content: center;
}

// ===========================SPINNER===========================

.spinner {
  animation: rotate 2s linear infinite;
  width: 1.6rem;
  margin-top: -5px;

  .path {
    stroke: #fff;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}

.big-spin {
  width: 4rem;
  margin-top: 30px;

  .path {
    stroke: aqua;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

// ===========================ALERT===========================

.alert {
  position: fixed;
  top: 4.2rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 300px;
  max-width: 90%;
  opacity: 0;
  z-index: 1080;
  animation: alert 3s;
}

@keyframes alert {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  15%,
  80% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
  }
}

// ===========================VIDEO===========================

video {
  max-width: 100%;
}
