<div class="container">
  <ng-container *ngIf="courses$ | async as courses; else loading">
    <div class="grid-cont">
      <h2 class="mb-4">Graduate Education</h2>
      <div [routerLink]="['/academics/' + course.id]" *ngFor="let course of courses" class="shadow">
        <img [src]="[course.image]" />
        <h5>{{ course.name }}</h5>
      </div>
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="text-center">
      <svg class="spinner big-spin" viewBox="0 0 50 50">
        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
      </svg>
    </div>
  </ng-template>
</div>
