<div class="container">
  <ng-container *ngIf="user$ | async as user; else loading">
    <ng-container *ngIf="loggedObs$ | async as loggedUser">
      <div class="container inner-cont bg-white rounded shadow p-3">
        <h4 class="mb-4">{{ user.name }} {{ user.surname }}</h4>
        <table>
          <tbody>
            <tr *ngFor="let prop of props">
              <td class="head text-muted">{{ prop.displayName }}</td>
              <td>{{ user[prop.name] || '[empty]' }}</td>
            </tr>
            <tr *ngIf="loggedUser.user.roles.includes('ROLE_ADMIN')">
              <td class="text-muted">Roles:</td>
              <td>{{ user.roles || '[empty]' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #loading>
    <div class="text-center">
      <svg class="spinner big-spin" viewBox="0 0 50 50">
        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
      </svg>
    </div>
  </ng-template>
</div>
