<div class="container">
  <ng-container *ngIf="user$ | async as user; else loading">
    <ng-container *ngIf="loggedObs$ | async as loggedUser">
      <div class="container inner-cont shadow-sm p-3">
        <h4 class="mb-4">{{ user.name }} {{ user.surname }}</h4>
        <div class="d-flex">
          <div class="me-5 text-muted">
            <p *ngFor="let prop of props">{{ prop }}</p>
            <p *ngIf="loggedUser.user.roles.includes('ROLE_ADMIN')">Roles:</p>
          </div>
          <div>
            <p>{{ user.email || '[empty]' }}</p>
            <p>{{ user.gender || '[empty]' }}</p>
            <p>{{ user.address || '[empty]' }}</p>
            <p *ngIf="loggedUser.user.roles.includes('ROLE_ADMIN')">{{ user.roles || '[empty]' }}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #loading>
    <div class="text-center">
      <svg class="spinner big-spin" viewBox="0 0 50 50">
        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
      </svg>
    </div>
  </ng-template>
</div>
