form {
  input {
    padding-left: 2rem;
  }

  i {
    position: absolute;
    margin: 7px 10px;
    opacity: 0.5;
  }
}

#mbl-src-bar {
  display: block;
}

@media screen and (min-width: 576px) {
  #mbl-src-bar {
    display: none;
  }
}
