<div #wrapp id="wrapp">
  <div id="head">
    <div class="my-flex align-items-baseline justify-content-between mt-3 mb-4 mx-3">
      <h4>Calendar</h4>
      <h6 id="month-btn" (click)="showMonthDropdown = !showMonthDropdown">
        {{
          (days | pureFn : getSelectedDay).toLocaleDateString('en-us', {
            month: 'long',
            year: 'numeric'
          })
        }}
        <i class="bi bi-caret-down-fill"></i>
      </h6>
      <app-month-year-dropdown
        *ngIf="showMonthDropdown"
        [selectedDay]="days | pureFn : getSelectedDay"
        (closeDropdown)="doCloseDropdown($event)"
      ></app-month-year-dropdown>
    </div>

    <div id="active-day-bg"></div>

    <div #roller id="roller">
      <div class="my-flex day-names" (mousedown)="onDragStart($event)" (touchstart)="onDragStart($event)">
        <div
          [@slideIn]="{ value: true, params: { translateX: translateX } }"
          *ngFor="let day of days"
          class="text-muted"
          scope="col"
        >
          {{ day | pureFn : getDayName }}
        </div>
      </div>
      <div class="my-flex">
        <button
          [@slideIn]="{ value: true, params: { translateX: translateX } }"
          *ngFor="let day of days; let i = index"
          class="btn"
          scope="col"
          [class.active-day]="i | pureFn : isActiveDay"
          (click)="selectDayByClicking(i)"
        >
          <span>{{ day | pureFn : getDayNumber }}</span>
        </button>
      </div>
    </div>
  </div>

  <div class="schedule-flex">
    <div class="my-flex flex-column">
      <div *ngFor="let hour of hours" class="text-muted">{{ hour }}</div>
    </div>

    <div id="schedule">
      <div
        #sched
        *ngFor="let scheItem of daySchedule; let i = index"
        [ngClass]="{ 'd-none': days | pureFn : lessonCondition : scheItem }"
      >
        <span *ngIf="showClass" class="fw-bold"> Class: {{ scheItem.klass.id }} </span>
        <span> {{ scheItem.module.name }} </span>
      </div>
    </div>
  </div>
</div>
