<ng-container *ngIf="klass; else loading">
  <div class="container">
    <div class="big-wrap">
      <div>
        <div id="class-wrp" class="bg-light rounded shadow wrapp">
          <h4 class="mt-3 mb-4 mx-3">My Class</h4>
          <div id="student-wrp">
            <div id="student" *ngFor="let student of klass!.students">
              <div id="avatar-box">
                <img [src]="student.avatar" alt="" />
              </div>
              <p>{{ student.name }} {{ student.surname }}</p>
            </div>
          </div>
        </div>
      </div>

      <div id="center">
        <div class="bg-light rounded shadow wrapp">
          <h4 class="mt-3 mb-4 mx-3">{{ klass.course.info.name }}</h4>
          <div id="main">
            <div>
              <h5>Attendance</h5>
              <app-circle-progress [attendance$]="attendance$"></app-circle-progress>
            </div>
            <h5>Grades</h5>
          </div>
        </div>

        <div class="bg-light rounded shadow wrapp">
          <h4 class="mt-3 mb-4 mx-3">Assignments</h4>
        </div>
      </div>

      <app-calendar [klass]="klass"></app-calendar>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="text-center">
    <svg class="spinner big-spin" viewBox="0 0 50 50">
      <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
    </svg>
  </div>
</ng-template>
