.container {
    margin-top: -.7rem;
}

.big-wrap {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1rem;
}

#student {
    margin: 1rem;
    display: flex;
    align-items: center;

    p {
        margin: 0 0 0 .5rem;
        word-break: keep-all;
    }
}

#avatar-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 38px;
    min-width: 38px;
    border-radius: 20rem;
    background: url(../../../assets/avatar.png) center;
    background-size: 46px;
    overflow: hidden;

    img {
        height: inherit;
    }
}

.wrapp {
    border: 1px solid rgba(0, 0, 0, 0);
    max-height: 668px;
    width: 15rem;
    overflow: scroll;
}

// ============SCROLLBAR============

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}

*:hover::-webkit-scrollbar-thumb {
    background: #cfcfcf;
}

::-webkit-scrollbar-thumb:hover {
    background: #bbbbbb;
}