:host {
  position: absolute;
  top: 2rem;
  right: 0;
  background-color: white;
  min-width: 9rem;
  padding: 0.5rem 0;
  border: 1px solid var(--bs-border-color-translucent);
  border-radius: 8px;
  overflow: hidden;
  z-index: 1000;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;

  i.bi {
    cursor: pointer;

    &:hover {
      color: var(--bs-body-color);
    }
  }
}

.dropdown-body {
  max-height: calc(100vh - 10rem);
  overflow-y: auto;
}

.dropdown-item {
  padding: 0.375rem 1rem;

  &:hover {
    background-color: var(--primary-light);
  }

  &.active-month {
    background-color: var(--primary-medium);
  }
}

// ============SCROLLBAR============

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

*:hover::-webkit-scrollbar-thumb {
  background: #cfcfcf;
}

::-webkit-scrollbar-thumb:hover {
  background: #bbbbbb;
}
