<div *ngIf="pageable; else loading" class="px-4 pb-1 d-inline-flex align-items-baseline">
  <small class="text-muted me-4"> Page {{ pageNum + 1 }} of {{ pageable.totalPages }} </small>
  <button (click)="switchPage.emit(-1)" class="btn pag-btn" [disabled]="pageNum + 1 <= 1">
    <i class="bi bi-chevron-left me-2"></i>
  </button>
  <button (click)="switchPage.emit(1)" class="btn pag-btn" [disabled]="pageNum + 1 >= pageable.totalPages">
    <i class="bi bi-chevron-right ms-2"></i>
  </button>
</div>

<ng-template #loading>
  <div class="px-4 pb-1 d-inline-flex align-items-baseline">
    <small class="text-muted me-4"> Page {{ pageNum + 1 }} of ? </small>
    <button class="btn pag-btn" disabled>
      <i class="bi bi-chevron-left me-2"></i>
    </button>
    <button class="btn pag-btn" disabled>
      <i class="bi bi-chevron-right ms-2"></i>
    </button>
  </div>
</ng-template>
