<div *ngIf="teacherMPKList.length; else loading" class="container">
  <section>
    <div class="classes-wrp">
      <h3>My Classes</h3>

      <div
        *ngFor="let tcrMPK of teacherMPKList"
        [routerLink]="['/teacher_dashboard/' + tcrMPK.klassId]"
        class="tcr-mpk shadow rounded mb-3"
      >
        <h5 class="bg-gradient text-white m-0 p-4 rounded-top" [style.backgroundColor]="tcrMPK.renderColor">
          Class: {{ tcrMPK.klassId }}, {{ tcrMPK.klassCourse }}
        </h5>
        <p class="bg-white m-0 px-4 py-2">
          Taught modules:
          <span *ngFor="let module of tcrMPK.modules; let isLast = last">
            {{ module }}<span *ngIf="!isLast">, </span>
          </span>
        </p>
      </div>
    </div>

    <app-calendar [weeklySchedule]="weeklySchedule" class="bg-white rounded shadow"></app-calendar>
  </section>
</div>

<ng-template #loading>
  <div class="text-center">
    <svg class="spinner big-spin" viewBox="0 0 50 50">
      <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
    </svg>
  </div>
</ng-template>
