<ng-container *ngIf="users$ | async as users; else loading">
  <div class="container shadow-sm">
    <table class="m-0 table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th *ngFor="let role of roles" scope="col" class="text-center">
            {{ role.displayName }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users.content">
          <th [routerLink]="['/' + user.id + '/profile']" scope="row" class="user-row">
            {{ user.name }} {{ user.surname }}
          </th>
          <td *ngFor="let role of roles" class="text-center">
            <input
              type="checkbox"
              class="form-check-input"
              (change)="toggleRole(user, role.name)"
              [checked]="user.roles.includes(role.name)"
              [disabled]="
                role.name == 'ROLE_ADMIN' && !(loggedObs$ | async)?.user?.roles?.includes('ROLE_ADMIN')
              "
            />
          </td>
        </tr>
      </tbody>
    </table>

    <div class="py-2 d-flex justify-content-end align-items-baseline">
      <small class="me-3 text-muted">Page {{ page + 1 }} of {{ users.totalPages }}</small>
      <button (click)="goToPage(0)" class="btn pag-btn" [disabled]="page + 1 == 1">
        <i class="bi bi-chevron-bar-left"></i>
      </button>
      <button (click)="paginate(-1)" class="btn pag-btn" [disabled]="page + 1 == 1">
        <i class="bi bi-chevron-left"></i>
      </button>
      <button (click)="paginate(1)" class="btn pag-btn" [disabled]="page + 1 == users.totalPages">
        <i class="bi bi-chevron-right"></i>
      </button>
      <button
        (click)="goToPage(users.totalPages - 1)"
        class="btn pag-btn"
        [disabled]="page + 1 == users.totalPages"
      >
        <i class="bi bi-chevron-bar-right"></i>
      </button>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="text-center">
    <svg class="spinner big-spin" viewBox="0 0 50 50">
      <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
    </svg>
  </div>
</ng-template>
