<div class="container">
  <div class="d-flex justify-content-end gap-2 mb-3">
    <ng-container *ngIf="usersRolesMap.size; else disabledBtns">
      <button type="button" class="btn btn-light shadow-sm" (click)="undoChanges()">
        <i class="bi bi-arrow-counterclockwise"></i> Undo
      </button>
      <button type="button" class="btn btn-primary shadow-sm" (click)="save()">Save</button>
    </ng-container>

    <ng-template #disabledBtns>
      <button type="button" class="btn btn-light shadow-sm" disabled>
        <i class="bi bi-arrow-counterclockwise"></i> Undo
      </button>
      <button type="button" class="btn btn-primary shadow-sm" disabled>Save</button>
    </ng-template>
  </div>
</div>

<div
  *ngIf="users$ | async as users; else loading"
  class="container bg-white rounded overflow-hidden shadow-sm p-3"
>
  <table class="m-0 table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th *ngFor="let role of roles" scope="col" class="text-center">
          {{ role.displayName }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users.content">
        <th [routerLink]="['/' + user.id + '/profile']" scope="row" class="user-row">
          {{ user.name }} {{ user.surname }}
        </th>
        <td *ngFor="let role of roles" class="text-center">
          <input
            type="checkbox"
            class="form-check-input"
            (change)="toggleRole(user, role.name)"
            [checked]="user.roles.includes(role.name)"
            [disabled]="user | pureFn : disabledCondition : role.name"
          />
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-end pt-2 pe-2">
    <app-paginator
      [pageable]="users"
      [selectedPage]="page"
      [firstLast]="true"
      (switchPage)="goToPage($event)"
    ></app-paginator>
  </div>
</div>

<ng-template #loading>
  <div class="loading-placeholder container bg-white rounded overflow-hidden shadow-sm p-3">
    <table class="m-0 table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th *ngFor="let role of roles" scope="col" class="text-center">
            {{ role.displayName }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of savedTableContent.content">
          <th [routerLink]="['/' + user.id + '/profile']" scope="row" class="user-row">
            {{ user.name }} {{ user.surname }}
          </th>
          <td *ngFor="let role of roles" class="text-center">
            <input
              type="checkbox"
              class="form-check-input"
              [checked]="user.roles.includes(role.name)"
              disabled
            />
          </td>
        </tr>
      </tbody>
    </table>

    <div class="spinner-wrp">
      <svg class="spinner big-spin" viewBox="0 0 50 50">
        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
      </svg>
    </div>

    <div class="text-end pt-2 pe-2">
      <app-paginator
        [pageable]="savedTableContent"
        [selectedPage]="page"
        [firstLast]="true"
        (switchPage)="goToPage($event)"
      ></app-paginator>
    </div>
  </div>
</ng-template>
