<ng-container *ngIf="klass; else loading">
  <div class="container">
    <div class="big-wrap">
      <app-klass-list [klass]="klass" class="bg-light rounded shadow fake-border"></app-klass-list>

      <div id="ass-grid">
        <!-- ------------------ASSIGNMENTS----------------- -->
        <div class="ass-wrap bg-light rounded shadow fake-border">
          <h4 class="my-3 mx-3">Issued Assignments</h4>
          <div *ngIf="assignments$ | async as assignments; else loading" class="mx-3">
            <div class="assignments">
              <div *ngFor="let assignment of assignments.content" class="ass-item text-reset">
                <input type="checkbox" class="form-check-input" disabled />
                <div class="issued text-dark px-2">
                  <div>
                    <p class="text-primary">{{ assignment.module }} -</p>
                    <b> {{ assignment.title }}</b>
                  </div>
                  <div>
                    <p class="text-muted"><i class="bi bi-flag"></i> Due {{ assignment.dueDate }}</p>
                  </div>
                </div>
                <div class="icons py-2">
                  <a
                    class="link-info"
                    (click)="setAssignmentToUpdate('Update Assignment', assignment)"
                    data-bs-toggle="modal"
                    href="#assignmentModalToggle"
                    ><i class="bi bi-pencil-square me-2"></i
                  ></a>
                  <a
                    (click)="setAssignmentToDeleteId(assignment.id)"
                    data-bs-toggle="modal"
                    href="#deleteAssignmentModal"
                    class="link-info"
                    ><i class="bi bi-trash2"></i
                  ></a>
                </div>
              </div>
              <app-delete-assignment (updatedAss)="updateAll()"></app-delete-assignment>
            </div>
            <div class="d-flex justify-content-center">
              <div class="px-4 pb-1 d-inline-flex align-items-baseline">
                <small class="text-muted me-4">Page {{ page + 1 }} of {{ assignments.totalPages }}</small>
                <button (click)="paginate(-1)" class="btn pag-btn" [disabled]="page + 1 == 1">
                  <i class="bi bi-chevron-left me-2"></i>
                </button>
                <button
                  (click)="paginate(1)"
                  class="btn pag-btn"
                  [disabled]="page + 1 == assignments.totalPages"
                >
                  <i class="bi bi-chevron-right ms-2"></i>
                </button>
              </div>
            </div>
          </div>

          <a
            (click)="setAssignmentToUpdate('New Assignment')"
            id="new-ass"
            data-bs-toggle="modal"
            href="#assignmentModalToggle"
            ><i class="bi bi-plus"></i
          ></a>
          <app-assignment-modal
            [klass]="klass"
            [loggedUser]="loggedUser"
            [assignments$]="assignments$"
            (updatedAss)="updateAll()"
          ></app-assignment-modal>

          <ng-template #loading>
            <div class="assignments-placeholder text-center">
              <svg class="spinner big-spin" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
              </svg>
            </div>
            <div class="d-flex justify-content-center">
              <div class="px-4 pb-1 d-inline-flex align-items-baseline">
                <small class="text-muted me-4">Page {{ page + 1 }} of ?</small>
                <button class="btn pag-btn" disabled>
                  <i class="bi bi-chevron-left me-2"></i>
                </button>
                <button class="btn pag-btn" disabled>
                  <i class="bi bi-chevron-right ms-2"></i>
                </button>
              </div>
            </div>
          </ng-template>
        </div>
        <!-- ------------------ASSIGNMENTS----------------- -->
        <!-- ------------------COMPL ASS----------------- -->
        <div class="ass-wrap bg-light rounded shadow fake-border">
          <h4 class="my-3 mx-3">Submitted</h4>
          <div *ngIf="complAssignments$ | async as complAssignments; else loading" class="mx-3">
            <div class="assignments">
              <div *ngFor="let complAss of complAssignments.content" class="ass-item text-reset">
                <a [routerLink]="['/' + klass.id + '/assignment/' + complAss.id]" class="text-dark">
                  <div>
                    <p class="text-primary">{{ complAss.student.name }} {{ complAss.student.surname }} -</p>
                    <b> {{ complAss.title }}</b>
                  </div>
                  <div>
                    <p class="text-muted">
                      <i class="bi bi-bookmark-check"></i> Submitted {{ complAss.submittedDate }}
                    </p>
                  </div>
                </a>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <div class="px-4 pb-1 d-inline-flex align-items-baseline">
                <small class="text-muted me-4"
                  >Page {{ page2 + 1 }} of {{ complAssignments.totalPages }}</small
                >
                <button (click)="paginate2(-1)" class="btn pag-btn" [disabled]="page2 + 1 == 1">
                  <i class="bi bi-chevron-left me-2"></i>
                </button>
                <button
                  (click)="paginate2(1)"
                  class="btn pag-btn"
                  [disabled]="page2 + 1 == complAssignments.totalPages"
                >
                  <i class="bi bi-chevron-right ms-2"></i>
                </button>
              </div>
            </div>
          </div>

          <ng-template #loading>
            <div class="assignments-placeholder text-center">
              <svg class="spinner big-spin" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
              </svg>
            </div>
            <div class="d-flex justify-content-center">
              <div class="px-4 pb-1 d-inline-flex align-items-baseline">
                <small class="text-muted me-4">Page {{ page2 + 1 }} of ?</small>
                <button class="btn pag-btn" disabled>
                  <i class="bi bi-chevron-left me-2"></i>
                </button>
                <button class="btn pag-btn" disabled>
                  <i class="bi bi-chevron-right ms-2"></i>
                </button>
              </div>
            </div>
          </ng-template>
        </div>
        <!-- ------------------COMPL ASS----------------- -->
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="text-center">
    <svg class="spinner big-spin" viewBox="0 0 50 50">
      <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
    </svg>
  </div>
</ng-template>
