.container {
  margin-top: -0.7rem;
  padding: 0;
}

.big-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.fake-border {
  border: 1px solid rgba(0, 0, 0, 0);
}

app-klass-list {
  position: relative;
  overflow: hidden;
  height: 668px;
  flex: 10 1 15rem;
}

#ass-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex: 1 1 0;
}

.ass-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 320px;
  flex-grow: 1;
}

.assignments {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;

  .ass-item {
    display: flex;
    align-items: center;

    > a,
    .issued {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: default;

      &:hover {
        filter: brightness(0.7);

        & + .icons {
          display: block;
        }
      }
    }

    > .icons {
      display: none;
      white-space: nowrap;

      &:hover {
        display: block;
      }

      a:hover {
        filter: brightness(0.7);
      }
    }

    .form-check-input:disabled {
      padding: 8px;
      border-radius: 0.4rem;
      opacity: 1;
    }

    * {
      display: inline;
      margin: 0;
    }

    .text-muted {
      display: block;
      font-size: 0.8rem;
      font-weight: 500;
    }
  }

  .big-spin {
    margin-top: -4rem;
  }
}

.assignments-placeholder {
  justify-content: center;
  align-items: center;
}

.assignment-assessed {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
  opacity: 0.5;

  b {
    font-weight: 400;
  }
}

app-paginator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 1.5rem;
  padding-bottom: 0.25rem;
  display: flex;
  justify-content: center;
}

// ============MEDIA QUERY============

@media screen and (min-width: 768px) {
  #ass-grid {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 992px) {
  app-klass-list {
    height: auto;
  }
}
