<div id="delete-ass" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header d-block text-center">
      <i class="bi bi-exclamation-circle-fill"></i>
      <h3 class="modal-title mt-3 mb-2" id="deleteAssignmentModalLabel">Delete Assignment?</h3>
    </div>

    <div class="modal-body">
      <div class="d-flex gap-2">
        <button (click)="closeModal()" class="btn btn-light">Cancel</button>

        <button (click)="deleteAssignment(assignmentId)" class="btn btn-danger" type="button" [disabled]="loading">
          <span *ngIf="!loading">Delete</span>
          <svg *ngIf="loading" class="spinner" viewBox="0 0 50 50">
            <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
